.inline-img {
    display: inline;
    margin: 0px;
}

.unstyled-link {
    text-decoration: none;
}
.unstyled-link:hover {
    background-color: transparent;
}

.prose code::before {
    content: '';
}
.prose code::after {
    content: '';
}

/* https://tailwindcss.com/docs/customizing-colors */

/* cyan 500, 300 */
.prose strong em, em strong {
    color: #06b6d4;
    &:is(.dark *) { color: #67e8f9; }
}

/* emerald 700, 200 */
.prose em {
    color: #047857;
    &:is(.dark *) { color: #a7f3d0; }
}

/* blue 700, 200 */
.prose strong {
    color: #1d4ed8;
    &:is(.dark *) { color: #bfdbfe; }
}

/* fuchsia 600, 400 */
.prose code:not(pre > code) {
    color: #c026d3;
    &:is(.dark *) { color: #e879f9; }
}
.prose code:not(pre > code) {
    border-radius: 4px;
    padding: 2px 4px 2px;
    background-color: rgba(var(--color-neutral-50),var(--tw-bg-opacity));
    &:is(.dark *) { background-color: rgba(var(--color-neutral-700),var(--tw-bg-opacity)); }
}

/* red 700, 400 */
span.red { color: #b91c1c; }
span.red:is(.dark *) { color: #f87171 }
/* amber 700, 400 */
span.yellow { color: #b45309; }
span.yellow:is(.dark *) { color: #fbbf24 }
/* emerald 700, 400 */
span.green { color: #047857; }
span.green:is(.dark *) { color: #34d399 }
/* blue 700, 400 */
span.blue { color: #1d4ed8; }
span.blue:is(.dark *) { color: #60a5fa }
/* violet 700, 400 */
span.purple { color: #6d28d9; }
span.purple:is(.dark *) { color: #a78bfa }
/* fuchsia 700, 400 */
span.magenta { color: #a21caf; }
span.magenta:is(.dark *) { color: #e879f9 }

span.toki-pona {
    letter-spacing: 1.5px;

    /* fuchsia 700, 200 */
    color: #a21caf;
    &:is(.dark *) { color: #f5d0fe; }
}
