<!DOCTYPE html>
{% if page.url == "/" %}
  {% assign is_subpage = false %}
{% else %}
  {% assign is_subpage = true %}
{% endif %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}{% if is_subpage %} | {{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
    <link rel="stylesheet" href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  </head>
  <body>
    {% if is_subpage %}{% include back_to_main_page.html %}{% endif %}
    <h1>{{ site.title }}</h1>
    <section>
      {{ content }}
    </section>
    {% if is_subpage %}{% include back_to_main_page.html %}{% endif %}
  </body>
</html>
